body{
    background-color: #8d9db6;
    color: white;
}
#carousel1{
    width: 400px;
    height:auto;
    margin: 0 auto;
    
}  
#carousel2{
    width: 70%;
    height:70%;
    margin: 0 auto;
    
}   
.bg-primary{
    background-color:  #667292!important;
    color:#f1e3dd!important;
}
.navbar-dark .navbar-nav .nav-link{
    color:#f1e3dd!important;
}
.navbar-dark .navbar-brand{
    color: #f1e3dd !important;
}
#titulo{
    text-align: center;
}
#primeraParte{
    background-color: #bccad6;
    color: #667292;
}
footer{
    background-color: #667292;
    text-align: center;

}
#formularioContacto{
    width: 60%;
    height:60%;
    margin: 0 auto;
}
#staticBackdrop{
    color: black;
}
.servicios{
    text-align: justify;
    margin: 5%
}